.contacto-big-container {
    display: flex;
    justify-content: space-around;

        .social-media-list {
            background-color: $div-color;
            opacity: $opacity-reduced;
            height: fit-content; 
            border-radius: 2%;
            margin: 5%;
            padding: $padd-contact;
            color: $white-letters;   
        }
        a:visited {
            color: $white-letters;
            text-decoration: none;
        }
        
        .item-contacto-int {
            padding: $padd-contact;
            cursor: pointer;
        }
        .item-contacto {
            padding: $padd-contact;
        }
        
        section div ul p {
            color: $white-letters;
            font-size: x-large ;
        }

        .map-contacto-desk {
            background-color: $div-color;
            opacity: $opacity-reduced;
            width: fit-content;
            margin: 2%;
            padding: $padd-contact;
            border-radius: 2%;

        }
        
}



   