
.section-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $div-color; 
    opacity: $opacity-reduced;
    color: $white-letters;
    margin: 5% 2.5% 5% 2.5%;
    border-radius: $border-radius-box;
    padding: 3% 3% 3% 3%;
    
    .faq-container {

        .faq-square{

            .faq-title {
                font-size: xx-large;
                padding-bottom: 1%;
            }

        }

        .faq-paragraph {
            padding-left: 5%;
            padding-right: 5%;
        }
        
    }
    


}