footer{
    background-color: rgb(24, 22, 22);
    padding: 40px 40px 0px 40px;
    opacity: 95%;
    display: flex;
    height: fit-content;
    margin-bottom: 0px;
}

.LogoFooter {
    width: 130px;
    float: left;
    padding: 0px 40px 0px 0px;
}

.footer-text {
    color: white;
}

.footer-dev {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0% 0% 2% 0%;
    height: 120px;
}
.LogoFooter-mobile {
    width: 80px;
    float: left;
    padding: 0px 20px 0px 0px;
}
.dev-logo-mobile {
    height: 50%;
}

.text-footer-mobile{
    color: white;
    font-size: x-small;
}