.button {
    @extend %buttons;
}

nav {

    ul{

        li{

            a{
                color: $white-letters;
            }
        }
    }
}

.LogoNavIndex {
    display: flex;
    width: 100px;
    padding-top: 2%;
}

.navbar-mobile {
    padding: 5%;
}